extends ./partial/layout.pug

block content
    .login-pages
        h1 login page   
        form(action="/login" method="POST")
            .form-group
                label(for="username") Email address
                input#username.form-control(type="text" aria-describedby="emailHelp" name="username" placeholder="Enter username")
            .form-group
                label(for="password") Password
                input#password.form-control(type="password" name="password" placeholder="Enter password")
            button.btn.btn-primary(type="submit") Submit

